/*Estilo para impressora*/
*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    /*Não exibir  o menu na tela de impressão */
    display: none; 
}
article{
    width:100%;
}
article::after{
    content:'Esse artigo foi impresso através do site Cursoemvideo.com'
}
